---
import New from "./new.astro";
import Perk from "./perk.astro";
---

<script>
  const perks = document.getElementsByClassName("perk");

  for (const perk of perks) {
    const open = perk.getElementsByClassName("open")[0] as HTMLButtonElement;
    const close = perk.getElementsByClassName("close")[0] as HTMLButtonElement;
    const answer = perk.getElementsByClassName(
      "answer"
    )[0] as HTMLParagraphElement;

    open.addEventListener("click", () => {
      answer.style.maxHeight = answer.scrollHeight + "px";
      answer.classList.add("mt-4");
      close.classList.remove("hidden");
      open.classList.add("hidden");
    });

    close.addEventListener("click", () => {
      answer.style.maxHeight = "0";
      answer.classList.remove("mt-4");
      close.classList.add("hidden");
      open.classList.remove("hidden");
    });
  }
</script>

<div class="bg-[#D5CEC4]">
  <div
    class="py-10 px-5 md:px-10 md:text-xl text-center xl:py-[120px] xl:mx-auto xl:max-w-[1092px]"
  >
    <h2
      class="text-[28px] leading-[36px] xl:text-[52px] xl:leading-normal xl:mb-[58px]"
    >
      Що ви отримуєте?
    </h2>
    <p class="text-2xl mb-6">7 Глибоких медитацій</p>
    <div class="space-y-6">
      <Perk number="01" title="Зменшення Тривожності">
        Глибока медитація для заспокоєння розуму, звільнення від тривожних думок
        та відчуття внутрішнього спокою. Дослідження показують, що регулярна
        медитація знижує рівень кортизолу, гормону стресу, допомагаючи зменшити
        тривожність та покращити загальне самопочуття.
      </Perk>
      <Perk number="02" title="Прийняття Себе">
        Потужна практика, яка допомагає розвивати любов та повагу до себе,
        приймати свою унікальність та формувати здорову самооцінку. Наукові
        дослідження свідчать, що медитації, спрямовані на самоусвідомлення,
        сприяють покращенню емоційного благополуччя та впевненості в собі.
      </Perk>
      <Perk number="03" title="Фокус Та Концентрація">
        Спеціальна медитація для підвищення здатності зосереджуватись та мислити
        ясно навіть у складних ситуаціях. Вчені підтверджують, що медитація
        покращує активність префронтальної кори мозку, яка відповідає за увагу
        та прийняття рішень, що підвищує продуктивність і концентрацію.
      </Perk>
      <Perk number="04" title="Вдячність">
        Практика, яка розвиває здатність помічати красу в простих речах,
        пробуджує вдячність та наповнює життя радістю і позитивом. Дослідження
        виявили, що регулярна практика вдячності збільшує рівень щастя та
        покращує психологічне здоров'я.
      </Perk>
      <Perk number="05" title="Сон Та Відновлення">
        Медитація для полегшення процесу засинання та забезпечення якісного
        відпочинку, що допоможе прокидатися з почуттям енергії та оновленості.
        Наукові дані показують, що медитація перед сном знижує активність
        бета-хвиль у мозку, полегшуючи розслаблення та засинання.
      </Perk>
      <Perk number="06" title="Стрес Та Втома">
        Ефективна практика для зняття напруги та швидкого відновлення енергії
        після інтенсивних днів. Дослідження підтверджують, що медитація сприяє
        зниженню рівня адреналіну та підвищенню стійкості до стресу, що
        допомагає залишатися енергійним і збалансованим.
      </Perk>
      <Perk number="07" title="Емоційна Регуляція">
        Інструмент для навчання керування емоціями, який дозволяє зберігати
        спокій, впевненість та баланс у будь-яких ситуаціях. Наукові дослідження
        показують, що медитація сприяє активації частин мозку, які відповідають
        за емоційну регуляцію, покращуючи здатність керувати своїми реакціями.
      </Perk>
    </div>

    <New />
  </div>
</div>
