---
import Button from "../button.astro";
import Perk from "./perk-light.astro";
---

<div class="mt-16 lg:mt-[100px]">
  <p class="text-xl lg:text-2xl mb-6">
    <strong>НОВИНКА</strong>: 7 експрес-медитацій по 5 хв
  </p>
  <div class="space-y-6">
    <Perk number="01" title="Звільнись від тривоги та знайди спокій">
      Почуваєшся перевантажено? Перезавантажся за 5 хвилин — натисни та відчуй
      полегшення.
    </Perk>
    <Perk number="02" title="Перемикач впевненості">
      Усього за 5 хвилин активуй свою внутрішню силу та впевненість.
    </Perk>
    <Perk number="03" title="Лазерна концентрація">
      Відволікаєшся? Цей 5-хвилинний лайфхак для мозку поверне твою увагу та
      продуктивність.
    </Perk>
    <Perk number="04" title="Сон і глибоке відновлення">
      Розслабся і занурся у глибокий та спокійний сон усього за 5 хвилин.
    </Perk>
    <Perk number="05" title="Перепрограмування на любов до себе">
      Завтра ти можеш прокинутися з новим ставленням до себе. Зроби це
      реальністю вже сьогодні.
    </Perk>
    <Perk number="06" title="Супер-фокус при ADHD">
      Зосереджуйся швидко, ефективно і з задоволенням, незалежно від того,
      наскільки зайнятий твій розум.
    </Perk>
    <Perk number="07" title="Магніт достатку">
      Гроші йдуть туди, куди спрямовані твої думки. Налаштуй свій розум на
      багатство та успіх всього за 5 хвилин.
    </Perk>
  </div>

  <div class="max-w-[782px] mx-auto mt-[58px]">
    <p class="text-xl md:text-2xl lg:text-[28px] md:leading-[36px]">
      <strong>Отримай потужну підтримку у будь-якій ситуації:</strong> вдома, на
      роботі чи в дорозі.
    </p>
    <Button
      href="https://secure.wayforpay.com/page?vkh=67bdfcde-1b34-41ed-8b86-1b7e22d1dba8"
      className="mt-6 mb-4 bg-[#8C6546] hover:bg-[#A37454]"
    />
    <p class="text-xl lg:text-2xl">
      <span class="font-extrabold">899грн</span> замість <span
        class="line-through">2300 грн</span
      >
    </p>
  </div>
</div>
