---
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero/index.astro";
import Cards from "../components/cards/index.astro";
import Testimonials from "../components/testimonials/index.astro";
import Features from "../components/features/index.astro";
import About from "../components/about.astro";
import Faq from "../components/faq/index.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer.astro";
import BaseHead from "../components/base-head.astro";
import UpdatedCourse from "../components/updated-course.astro";
import WhatYouGet from "../components/what-you-get/index.astro";
---

<html lang="en">
  <BaseHead title="Ivanna Korniiuk" />
  <body class="antialiased">
    <Navbar />
    <Hero />
    <Cards />
    <UpdatedCourse />
    <WhatYouGet />
    <Testimonials />
    <Features />
    <About />
    <Faq />
    <Cta />
    <Footer />
  </body>
</html>
