<div class="bg-[#2B2A26]">
  <div
    class="text-white py-10 px-5 md:px-10 md:text-xl text-center xl:py-[120px] xl:mx-auto xl:max-w-[1178px]"
  >
    <h2 class="text-[28px] leading-[36px] xl:text-[52px] xl:leading-normal">
      Повністю оновлений курс медитацій
    </h2>
    <p class="font-bold my-[30px]">
      глибокі практики + швидкі перезавантаження
    </p>
    <p class="leading-[30px]">
      Ваш улюблений курс стає ще потужнішим! Окрім <span class="font-bold"
        >7 глибоких медитацій</span
      > для комплексної трансформації, тепер ви отримаєте додатково <span
        class="font-bold">7 коротких 5-хвилинних практик</span
      >, які легко інтегруються в щоденне життя. Швидко та ефективно
      перезавантажте свій розум будь-де і будь-коли!
    </p>
  </div>
</div>
